@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
*::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1.5rem;
  width: 100%;
}

:root {
  --swiper-theme-color: #c1272d !important;
  --swiper-navigation-size: 1.75rem !important;
}

#glassDarkMorph {
  /* From https://css.glass */
  background: rgba(244, 244, 245, 0.30);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(24, 24, 27, 0.3);
  padding: 1.5rem 3.5rem;
}

#glassLightMorph {
  /* From https://css.glass */
  background: rgba(24, 24, 27, 0.30);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(244, 244, 245, 0.3);
  padding: 1.5rem 3.5rem;
}
